@media (max-width:1400px) {
    .header__content {

        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width:1200px) {
    .header__nav {
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 15px;
    }

    .main__block__discount:nth-of-type(4) {
        padding: 10px 30px;
        left: 2%;
        top: 2%;
    }

    .main__block-links {
        right: 3%;
        top: 2%;
        row-gap: 10px;

    }

    .main__links-link {
        padding: 10px 10px;
    }

}

@media (max-width:992px) {
    .header__content-one {
        max-width: 912px;
        width: 100%;
    }

    .header__content-one:nth-of-type(1) {
        max-width: 912px;
        width: 100%;
        grid-column: span 2;
    }

    .header__content-one:nth-of-type(3) {
        max-width: 912px;
        width: 100%;
        grid-column: span 2;
    }

    .header__content-one:nth-of-type(2) {
        grid-column: span 2;
        max-width: 912px;
        width: 100%;
    }

    .header__one-discount {
        padding: 10px 25px;
        left: 1%;
        top: 2%;
    }

    .header__nav-list {
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 15px;
    }

    .footer__products {
        margin-left: 90px;
        margin-right: 90px;
    }

    .footer {
        padding: 30px 0 20px 0;
    }
}

@media (max-width: 768px) {
    .main__block {
        row-gap: 10px;
        padding-top: 50px;
    }

    .main__block img {
        width: 50%;
    }

    .main__block-prise {
        padding-bottom: 5px;
    }

    .main__advices-advice {
        padding: 45px 15px 0 15px
    }

    .main__advice-tip {
        top: 1%;
        left: 2%;
        font-size: 16px;
        line-height: 15px;
        padding: 10px 15px;
    }

    .main__advice-description {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .main__advice-title {
        font-size: 22px;
        line-height: 20px;
    }

    .main__advice-time {
        padding-bottom: 20px;
    }

    .footer__general {
        justify-content: space-between;
        column-gap: 10px;
    }

    .footer__products {
        margin: 0;
        align-items: center;
    }

    .footer__contacts-social {
        font-size: 18px;
        line-height: 22px;
        text-align: center;
        margin-top: 15px;
        margin-bottom: 20px;
    }

    .footer__contacts-list {
        justify-content: center;
    }

    .footer__contacts {
        row-gap: 13px;
        align-items: center;
    }

    .footer__contacts-phones {
        margin: 0;
        flex-wrap: wrap;
        row-gap: 10px;
        justify-content: center;
    }

    .footer__contacts-link {
        text-align: center;
    }

    .footer__phones-link {
        text-align: center;
    }

    .footer__contact-social {
        margin-top: 9px;
        margin-bottom: 10px;
    }

    .footer__products-link {
        text-align: center;
    }

    .footer__main-title {
        font-size: 20px;
        line-height: 15px;
        margin: 0;
    }

    .footer__products-title {
        font-size: 20px;
        line-height: 20px;
        margin: 0;
    }

    .footer__main {
        row-gap: 15px;
    }

    .footer__products {
        row-gap: 15px;
    }

    .footer__contacts-title {
        font-size: 20px;
        line-height: 20px;
        margin: 0;
    }

    .header-span {
        margin-bottom: 25px;

    }

    .main-titleother {
        margin: 25px 0;
    }

    .main__block-links {
        right: 1%;
        top: 1%;
        row-gap: 5px;
    }

    .main__links-link {
        padding: 7px 7px;
    }

    .main__block__discount {
        padding: 7px 20px;
        left: 2%;
        top: 2%;
        font-size: 16px;
        line-height: 17px;
    }

    .main__block-title {
        font-size: 18px;
        line-height: 20px;
    }

    .main__block-name {
        font-size: 18px;
        line-height: 20px;
    }

    .main__block-prise {
        font-size: 18px;
        line-height: 19px;
    }

    .main__container {
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

@media (max-width:576px) {
    .main__advices {
        column-gap: 10px;
    }

    .main-blocks {
        column-gap: 10px;
        row-gap: 10px;
    }

    .header__content {
        row-gap: 10px;
        column-gap: 15px;
    }

    .header-span {
        margin-bottom: 15px;
    }

    .main__advices-advice {
        row-gap: 15px;
        align-items: center;
    }

    .main__advice-description {
        margin: 0;
    }

    .footer__general {
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 15px;
        column-gap: 25px;
    }

    .header__content-one img {
        width: 50%;
    }

    .main-title {
        font-size: 21px;
        line-height: 20px;
        margin-bottom: 15px;
    }

    .main__block__discount:nth-of-type(4) {
        padding: 7px 15px;
        left: 0%;
        top: 0%;
    }

    .main__advices {
        flex-wrap: wrap;
        row-gap: 15px;
    }
}

@media (max-width:480px) {
    .main__block-links {
        right: 0%;
        top: 0%;
        row-gap: 3px;
    }

    .main__links-link {
        padding: 3px 3px;
    }

    .main__block-prise {
        text-align: center;
    }

    .main__block {
        padding-left: 5px;
        padding-right: 5px;
    }

    .main-titleother {
        font-size: 24px;
        line-height: 25px;
        margin: 17px 0;
    }

    .header__information-name {
        font-size: 16px;
        line-height: 17px;
        margin: 6.45px 0 6.45px 0;
    }

    .header__information-text {
        font-size: 16px;
        line-height: 18px;
    }

    .header__content-one:nth-of-type(1) {
        padding: 50px 95px 30px 100px;
    }

    .header__one-discount {
        font-size: 16px;
        line-height: 26px;
        padding: 4px 19px;
    }
}

@media (max-width:440px) {
    .main-blocks {
        flex-wrap: wrap;
        grid-template-columns: repeat(2, 1fr);
    }

    .header__nav {
        padding: 20px 0 20px 0;
    }

    .footer__main-links {
        text-align: center;
    }
}

@media (max-width:320px) {
    .main-blocks {
        flex-wrap: wrap;
        grid-template-columns: repeat(1, 1fr);
    }

    .header__nav-navigation {
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 15px;
        column-gap: 20px;
    }
}