@import url('../styles/fonts.css');
@import url('../styles/all.min.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
:root {
    --mb: 'Montserrat-Bold';
    --mr: 'Montserrat-Regular';
    --grey:#323232;
    --bggrey: #E1E1E1 ;
    --white: #FFFFFF;
}

.container {
    max-width: 1325px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

body {
    background: #F1F1F1;
}
 /* HEADER START */
 
.header__nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header__nav-list {
    display: flex;
    column-gap: 42px;
}

.header__nav-navigation {
    display: flex;
    column-gap: 40px;
}
.header__nav {
    padding: 50px 0 20px 0;
    
}

.header__nav-link {
      font-family: var(--mr);
      color: var(--grey);
      font-size: 18px;
line-height: 22px;
}
.header__nav-linkk {
    color: var(--grey);
    font-family: var(--mr);
}
.header__navigation-heart {
    font-size: 20px;

}
.header__navigation-buy {
    font-size: 20px;
}
.header__navigation-user {
    font-size: 20px;
}
.header__navigation-search {
    font-size: 20px;
}
.header-span {
    content: '';
    max-width: 1320px;
    width: 100%;
    height: 2px;
    background-color: var(--grey);
    display: block;
}

.header__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 30px;
    column-gap: 24px;
}

.header__content-one
{
    
}
.header__content-one:nth-of-type(1) {
    grid-column: span 1;
    grid-row: span 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #E1E1E1;
    border-radius: 10px;
    column-gap: 43px;
    max-width: 526px;
    width: 100%;
    max-height: 294px;
    height: 100%;
}
.header__content-one:nth-of-type(2) {
    grid-column: span 2;
    grid-row: span 2;
}
.header__content-one:nth-of-type(3) {
    grid-column: span 1;
    grid-row: span 1;
}

.header__content-one:nth-of-type(1) img {
    margin: ;
}
.header__content-one:nth-of-type(1) div {
 
}

.header__information-text {
    font-family: var(--mr);
    color: var(--grey);
    font-size: 16px;
line-height: 20px;
text-align: center;
}
.header__information-name {
    font-family: var(--mb);
    color: #000000;
    align-items: center;
text-transform: uppercase;
font-size: 16px;
line-height: 20px;

}
.header__one-information {
    max-width: 145px;
    width: 100%;
}
.header__one-discount {
    position: absolute;
    font-family: var(--mr);
    color: var(--white);
    font-size: 22px;
line-height: 27px;
background: #323232;
border-radius: 10px;
padding: 11px 38px;
}





 /* HEADER END */